@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,700i&display=swap');

:root{
    --primary-color: #7159c1;
    --secundary-color: #f7df1e;
}



*{
    margin: 0;
    padding: 0;
    border: none;
}


body{
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;

}

header{
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links{
    font-size: 22px;

}

.links a{
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a+a{
    margin-left: 32px;
}

.links a.active{
    font-weight: bold;
    color:var(--primary-color);
}

.links a:hover{
    color: var(--primary-color); 
}

.links a::after{
    content:"";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover:after{
    width: 100%;
    transition: width 200ms ease-in-out;
}

/* ===== CARD=====*/

.card {
    background-color: white;
    width: 800px;
    min-height: 400px; /*el min es para mantener la altura en ambos lados del carton*/

    /* espaceamiento y alineado al medio */
    margin: 45px auto;
    
    /* grid dividido al medio */
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* Sombra */
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

    /* ==========Animacion=========== */
    animation: up 400ms ease;

    /* animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-play-state: running;
    animation-iteration-count: 3;
    animation-direction: alternate; */
}




@keyframes up{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
    }

}

/* Details */

.details{
    padding:32px;
}

.details .item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}
/* quita ultima linea */
.details .item:last-child{
    border: none;
}

.details h3, .details .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;

}

.details .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item span{
    padding: 8px 16px;
    background-color: var(--secundary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block; /*para aceptar el margen*/
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* =====Formulario==== */

input, select{
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.button{
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    margin-top: 5px;
    width: 100%;
    font-size: 16px;
}

a.button{
    display:block;

    box-sizing: border-box;
    text-align: center;
    text-decoration: none;

}

#form-delete button[type="submit"]{
    margin-top: 8px;
    background-color: lightcoral;
}


/* INDEX INSTRUCTORS */

.table-container {
    display: block;
    padding: 30px;
    box-sizing: border-box;
}

.table-container table{
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

td, th{
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

th{
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child{
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span{
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px  6px -4px black;
    border: 2px solid white;
}

tbody tr td:last-child a, .table-container > a {
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}

.table-container >a{
    margin-bottom: 16px;
    display: inline-block;
    margin-left: 86%;
}

.table-container thead tr th:last-child, 
td:last-child{
    text-align:center;
}

/* ---------------------filters--------------------- */

.table-container .header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
}
.table-container .header a, .table-container .header  button[type="submit"]{
    width: 120px;
    margin: 0;
}

.table-container .header button[type="submit"]{
    margin: 0;
}

.table-container .header form{
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-gap: 8px;
    box-sizing: border-box;
}

.table-container .header form input{
    border: 1px solid #eee;
}

/*-------------------------pagination---------------------------*/

.table-container{
    display: grid;
    grid-template: 64px 1fr 16px / 1fr;
}

.table-container .header{
    margin: 0;
    align-self: start;
}

.table-container .pagination{
    margin: 0;
    align-self: end;
    justify-self: center;
}

.pagination a, .pagination span{
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 16px;
}

.pagination a:hover{
    filter: brightness(0.3);
    border-bottom: 1px solid var(--primary-color);
}