<div class="item">
    <div> Avatar URL</div>
    <div>
        <input 
            type="url" 
            name="avatar_url"
            placeholder="http://" 
            value= "{{instructor.avatar_url}}"
        >
    </div>
</div>

<div class="item">
    <div> Instructors</div>
    <div>
        <input 
            type="text" 
            name="name"
            placeholder="nome do instructors"
            value= "{{instructor.name}}" 
        >
    </div>
</div>

<div class="item">
    <div> Fecha de Nacimiento</div>
    <input 
        type="date"
        name="birth"
        value= "{{instructor.birth}}"  
    >
</div>

<div class="item">
    <div>Sexo</div>
    <span> 
        <input type="radio"
            name="gender" 
            value="M"
            {% if instructor.gender =='M' %} 
                checked
            {% endif %}> Masculino
    </span>
    
    <span> 
        <input 
            type="radio"
            name="gender"
            value="F"
            {% if instructor.gender =='F' %} 
                checked
            {% endif %}> Femenino
    </span>
    
</div>

<div class="item">
    <div>Area de Actuación</div>
    <input 
        type="text" 
        name="services"
        placeholder="Separe los servicios prestados por vírgula" 
        value= "{{instructor.services}}" 
    >
</div>

<button type="submit">Guardar</button>